.project-details-tabs {
    margin-top:5px;
}

.tab-content {
    .row {
        margin-top:5px;
    }
}

.note-contents-container {
    border-left: 1px solid darkgray;
    min-height:500px;
    
    table {
        width: 100%;
    }
}

.note-list-container {
    button{
        margin-bottom:5px;
    }
    
    a:hover {
        cursor: pointer;
    }
}

.file-container {
    #current-path {
        font-size:2em;
        margin-left:20px;
        margin-bottom: 5px;
    }
}